h1 {
    text-align: center;
}

p {
    margin: 10px;
}

.caption {
    margin-bottom: 20px;
}

#about {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
}

nav {
	list-style: square;
    font-size: 18px;
    display: flex;
    justify-content:space-evenly;
}

ul{
    font-size: 18px;
    margin-top: 30px;
}

.image {
    width: 640px;
    height: auto;
}

h2 {
    background-color: aquamarine;
}

footer{
    padding: 20px;
}